page-quizselect {
    .quiz-select-button{
        text-align: center;
        background-color: #e67e22;
        border-radius:5px;
        cursor: pointer;        
        color:white;
        padding:15px 10px 10px 10px;
        margin-bottom: 10px;
    }
    .quiz-select-button p{
        line-height: 0px;
    }
}
