.menu button{
    background-color: #e67e22;
}

.button-quiz{
    background-color: #e67e22;    
}

.toolbar-background{
    background-color: #e67e22;
}

.toolbar-title{
    color:white;
}

.ion-md-arrow-back{
    color:white;
}

.menu{
background: ffffff;
}

.back-button-icon, .back-button-text{
    color:white;
}

.radio-icon{
   background-color: #e67e22;
    border-radius: 25px;
}
.body{
    // background-image: url('../assets/imgs/bg-gradient.jpg');
    // position:center;
    background-repeat: repeat-x;
}

.list{
    border-radius: 5px;
}
.header{}
